<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Desafio_vendas.Properties.Settings.db_VendaConnectionString"
            connectionString="Data Source=DESKTOP-CGOGS2N\SQLEXPRESS;Initial Catalog=db_Venda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>